name: "Test Assemble Offline TrustRoot Action"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Assemble Offline TrustRoot Action
        uses: ./.github/actions/assemble-offline-trustroot
        with:
          example-input: "Test input value"