name: "Test Assemble Offline TrustRoot Action"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Checkout policy-controller repository
        uses: actions/checkout@v4
        with:
          repository: sigstore/policy-controller
          path: policy-controller
          fetch-depth: 1

      - uses: sigstore/cosign-installer@v3.8.1

      - run: cosign initialize --root https://tuf-repo.github.com/5.root.json --mirror https://tuf-repo.github.com
      - run: cp /home/runner/.sigstore/root/targets/trusted_root.json trusted_root.json

      - run: chmod 644 trusted_root.json

      - name: Run Assemble Offline TrustRoot Action
        uses: ./.github/actions/assemble-offline-trustroot
        with:
          output-trustroot-filename: /github/workspace/trustroot.yaml
          template-filename: /github/workspace/.github/actions/assemble-offline-trustroot/trustroot.template.yml
          trusted-root-path: /github/workspace/trusted_root.json

      - run: cat ${{ github.workspace }}/trustroot.yaml
      # TODO: validate with policy-controller policy-tester
